@import 'mixins';
.m-btn {
    font-size: $fontSize;
    color: $primary-bg;
    line-height: $line-height;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.btn:disabled {
    @include boxshadow(0 0 6px rgba(122, 137, 147, 0));
    outline: 0 !important;
    cursor: not-allowed !important;
    opacity: 0.5 !important;
    background-color: $green !important;
    border: 1px solid $green;
}

.m-btn:hover {
    @include boxshadow(0 8px 18px 0 rgba(122, 137, 147, 0.3));
}

.m-btn:focus {
    @include boxshadow(0 0 6px rgba(122, 137, 147, 0.3));
    outline: 0;
    background-color: $green;
}

.m-btn:disabled {
    @include boxshadow(0 0 6px rgba(122, 137, 147, 0));
    outline: 0;
    cursor: not-allowed;
    opacity: 0.5;
}

.btn-dark:disabled {
    @include boxshadow(0 0 6px rgba(122, 137, 147, 0));
    outline: 0;
    cursor: not-allowed;
    opacity: 0.5;
    background-color: black !important;
}

.btn-primary {
    background-color: $green;
    &:hover {
        background-color: $green;
    }
}

.btn-danger {
    background-color: $danger;
    &:hover {
        background-color: $danger;
    }
}

.btn-large {
    @extend .m-btn;
}

.btn-medium {
    @extend .m-btn;
}

.btn-small {
    @extend .m-btn;
}

.btn-circle {
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
}