
@import "colors";

.btn {
    background-color: #dddddd8c;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: $color;
    background-color: $primary-bg !important;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: $green;
    border-color: $green;
}

.btn-primary:hover ,.btn-primary:active , .btn-primary:focus {
    color: #fff;
    background-color: #2a7822;
    border-color: #2a7822;
}

.btn-primary:focus ,.form-control:focus .btn-default:focus ,.btn-default:active {
    box-shadow: 0 0 0 0.25rem rgba(43, 120, 34, 0.5) !important;
}
.form-select:focus ,.form-check-input:focus{
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(43, 120, 34, 0.5);
  }

  .form-check-input:checked {
    background-color: $green;
    border-color: $green;
}

.form-check-input:hover ,.form-check-input:active , .form-check-input:focus{
    color:#2a7822
}


.form-switch .form-check-input:checked {
    background-size: auto !important;
}

.form-check .form-check-input {
    float: none;
    margin-left: 0em !important;
}