$primary-bg: #fff;
$secondary-bg: #f8f8f8;
$background:#E5E5E5;
$color: #3a3a3a;
$shadow: 0 0.5em 1.5em rgb(0 0 0 / 10%),
0 0.125em 0.5em rgb(0 0 0 / 15%);
$border-color: rgba(58, 58, 58, 0.15);
$green: #4CB040;
$dark-green: #3e9234;
$hover-green: #185811a4;
$active-green: #185811a4;
$danger:#CA3737;
$text: #000;
$fontSize: 16px;
$line-height: 24px;
// .
// .
// colors
$error: #e50000;
$success: #08629e;
$warning: #FEB019;
$select: #574edc;