
@import "colors";

.btn {
    background-color: $space-gray;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: $color;
    background-color: $primary-bg !important;
    background-clip: padding-box;
    border: 1px solid $content-form !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: $shadow;
}


.form-control:focus {
    border: 0px !important;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(43, 120, 34, 0.5);
  }

.btn-primary {
    color: #fff;
    background-color: $green;
    border-color: $green;
    box-shadow: 0 10px 20px -10px #4cb040;
}
.btn-default {
    box-shadow: 0 10px 20px -10px $space-gray2;
}
.image{
    box-shadow: 0 10px 20px -10px $pop-color;
}

.btn-primary:hover ,.btn-primary:active , .btn-primary:focus {
    color: #fff;
    background-color: $space-green;
    border-color: $space-green;
}

.btn-primary:focus ,.form-control:focus .btn-default:focus ,.btn-default:active {
    box-shadow: 0 0 0 0.25rem rgba(43, 120, 34, 0.5) !important;
}
.form-select:focus ,.form-check-input:focus{
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(43, 120, 34, 0.5);
  }

  .form-check-input:checked {
    background-color: $green;
    border-color: $green;
}

.form-check-input:hover ,.form-check-input:active , .form-check-input:focus{
    color:$space-green
}


.form-switch .form-check-input:checked {
    background-size: auto !important;
}




.modal-header {
    border-bottom: 0px solid $header-form;
}

.form-group label{
    margin-bottom: 4px;
}

.form-group ,.form-check{
    margin-bottom: 5px;
    padding: 0;
}

.form-floating>label {
    left: auto;
}

.file{
    margin-top: -8px;
}

.ng-select .ng-select-container {
    color: $color;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid $lite-ccc;
    min-height: 42px;
}

.ng-select{
    box-shadow: $shadow;
}
.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
    box-shadow: 0 0 0 0.1rem rgba(43, 120, 34, 0.5);
    border-color: transparent;
}

.ng-select span {
    color: $color;
}

.mat-dialog-container {
    height: auto !important;
    overflow-y: scroll !important;
}

.cdk-overlay-pane {
    border-radius: 6px;
    overflow: hidden;
}

.modal-content .form-check{
    box-shadow: $shadow;
    border: 1px solid $content-form !important;
    border-radius: .25rem;
    height: calc(100% - 15px);
}
.form-floating>label {
    top: -8px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    box-shadow: $shadow;
}

@media (max-width:767px) {
    .form-check{
        margin-bottom: 17px;
        padding: 15px 0px;
    }
    
}