@import "colors";
@import "scroll_bar";
@import "buttons";
@import "./components/navbar";
@import "./components/sidebar";
body {
    background: $background;
}

.pointer {
    cursor: pointer;
}

.card {
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    box-shadow: $shadow !important;
}