<div class="wrapper grid grid-cols-6  md:grid-cols-5 grid-rows-2  gap-3">
  <div class="card col-span-6 md:col-span-1 row-span-1">
      <p>الطلبات التامة</p>
      <span>هذا الشهر</span>
      <h2 class="text-center">250 <span>طلب</span></h2>
  </div>
  <div class="card col-span-6 md:col-span-1 row-span-1">
      <p>ارباح المبيعات</p>
      <span>هذا الشهر</span>
      <h2 class="text-center">250 <span>الف</span></h2>
  </div>
  <div class="card col-span-6 md:col-span-1 row-span-1">
      <p>المنتجات الجديدة</p>
      <span>هذا الشهر</span>
      <h2 class="text-center">500 <span>منتج</span></h2>
  </div>
  <div class="card col-span-6 md:col-span-2 sm:row-span-1 md:row-span-2">
      <p>إجراءات عاجلة</p>

  </div>
  <div class="card col-span-6 md:col-span-1 row-span-1">
      <p>العملاء الجدد</p>
      <span>هذا الشهر</span>
      <h2 class="text-center">30 <span>عميل</span></h2>
  </div>
  <div class="card col-span-6 md:col-span-1 row-span-1">
      <p>المرتجعات</p>
      <span>هذا الشهر</span>
      <h2 class="text-center">0 <span>طلب</span></h2>
  </div>
  <div class="card col-span-6 md:col-span-1 row-span-1">
      <p>الطلبات الخاصة</p>
      <span>هذا الشهر</span>
      <h2 class="text-center">70 <span>طلب</span></h2>
  </div>

</div>