<div class="wrapper grid grid-cols-6  md:grid-cols-5 grid-rows-2  gap-3">
    <div class="card col-span-6 md:col-span-1 row-span-1">
        <p>الطلبات التامة</p>
        <span>هذا الشهر</span>
        <h2 class="text-center">250 <span>طلب</span></h2>
    </div>
    <div class="card col-span-6 md:col-span-1 row-span-1">
        <p>ارباح المبيعات</p>
        <span>هذا الشهر</span>
        <h2 class="text-center">250 <span>الف</span></h2>
    </div>
    <div class="card col-span-6 md:col-span-1 row-span-1">
        <p>المنتجات الجديدة</p>
        <span>هذا الشهر</span>
        <h2 class="text-center">500 <span>منتج</span></h2>
    </div>
    <div class="card col-span-6 md:col-span-2 sm:row-span-1 md:row-span-2">
        <p>إجراءات عاجلة</p>
        <div class="wrapper grid grid-cols-4">
            <div class="flex card-1 justify-center items-center flex-col p-4 col-span-2">
                <i class='bx bx-notepad text-3xl	'></i>
                <span>إصدار فاتورة</span>
            </div>
            <div class="flex card-2 justify-center items-center flex-col p-4 col-span-2">
                <i class='bx bx-box text-3xl	'></i>
                <span>إضافة منتج</span>
            </div>
            <div class="flex card-3 justify-center items-center flex-col p-4 col-span-2">
                <i class='bx bxs-map text-3xl'></i>
                <span>إضافة منطقة تغطية</span>
            </div>
            <div class="flex card-4 justify-center items-center flex-col p-4 col-span-2">
                <i class='bx bx-user text-3xl'></i>
                <span>إضافة مستخدم</span>
            </div>
        </div>
    </div>
    <div class="card col-span-6 md:col-span-1 row-span-1">
        <p>العملاء الجدد</p>
        <span>هذا الشهر</span>
        <h2 class="text-center">30 <span>عميل</span></h2>
    </div>
    <div class="card col-span-6 md:col-span-1 row-span-1">
        <p>المرتجعات</p>
        <span>هذا الشهر</span>
        <h2 class="text-center">0 <span>طلب</span></h2>
    </div>
    <div class="card col-span-6 md:col-span-1 row-span-1">
        <p>الطلبات الخاصة</p>
        <span>هذا الشهر</span>
        <h2 class="text-center">70 <span>طلب</span></h2>
    </div>

</div>
<div class="wrapper grid grid-cols-2 md:grid-cols-6 grid-rows-2 gap-3 mt-3">
    <div class="card col-span-2  row-span-2">
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
    </div>
    <div class="card col-span-2  row-span-2">
        card
    </div>
    <div class="card col-span-2  row-span-2">
        card
    </div>
    <div class="card col-span-2 md:col-span-4  row-span-2">
        card
    </div>
    <div class="card col-span-2  row-span-2">
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
    </div>

</div>