<div class="wrapper grid grid-cols-4 gap-3">
    <div class="header col-span-4">
        header
    </div>

    <div class="side side1 col-span-4 md:col-span-1 grid grid-cols-4 gap-3">
        <div class="side side1 col-span-4 ">
            side1-1
        </div>
        <div class="side side1 col-span-4 ">
            side1-2
        </div>
    </div>

    <div class="main col-span-4 md:col-span-2">
        main
    </div>

    <div class="side side2 col-span-4 md:col-span-1">
        side2
    </div>
    <div class="footer col-span-4">
        footer
    </div>
</div>