<div class="wrapper grid grid-cols-6  md:grid-cols-5 grid-rows-2  gap-3">
    <div class="card-d col-span-6 md:col-span-1 row-span-1">
        <p>osa</p>
        <p>osa</p>
        <p>osa</p>
        <p>osa</p>
        <p>osa</p>
    </div>
    <div class="card-d col-span-6 md:col-span-1 row-span-1">
        card-d
    </div>
    <div class="card-d col-span-6 md:col-span-1 row-span-1">
        card-d
    </div>
    <div class="card-d col-span-6 md:col-span-2 sm:row-span-1 md:row-span-2">
        card-d
    </div>
    <div class="card-d col-span-6 md:col-span-1 row-span-1">
        card-d
    </div>
    <div class="card-d col-span-6 md:col-span-1 row-span-1">
        card-d
    </div>
    <div class="card-d col-span-6 md:col-span-1 row-span-1">
        card-d
    </div>

</div>
<div class="wrapper grid grid-cols-2 md:grid-cols-6 grid-rows-2 gap-3 mt-3">
    <div class="card-d col-span-2  row-span-2">
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
    </div>
    <div class="card-d col-span-2  row-span-2">
        card-d
    </div>
    <div class="card-d col-span-2  row-span-2">
        card-d
    </div>
    <div class="card-d col-span-2 md:col-span-4  row-span-2">
        card-d
    </div>
    <div class="card-d col-span-2  row-span-2">
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
        <p>o</p>
    </div>

</div>