<div class="logo-details">
    <img src="../../assets/image/person.jpg" alt="">
    <div class="logo_name">Farmer</div>
    <i class='bx bx-menu' id="btn" *ngIf="sideBarService.sideBarSubject.value == 'close'" (click)="onToggleSideBar()"></i>
    <i class='bx bx-menu-alt-right' id="btn" *ngIf="sideBarService.sideBarSubject.value == 'open'" (click)="onToggleSideBar()"></i>
</div>
<ul class="nav-list">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/" class="link" (click)="closeMenu()">
            <i class='bx bx-user'></i>
            <span class="links_name">Home</span>
        </a>
    </li>
    <li class="" routerLinkActive="active" [class.show]="labelItem == 'product' && show =='active'">
        <a class="link pointer" (click)="openMenu('product')">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Product</span>
            <span class="arrow-close">
                <i *ngIf="lang == 'en'" class='bx bx-right-arrow-alt'></i>
                <i *ngIf="lang == 'ar'" class='bx bx-left-arrow-alt'></i>
            </span>
            <span class="arrow-open">
                <i class='bx bx-down-arrow-alt'></i>
            </span>
        </a>
        <ul class="item">
            <li routerLinkActive="active2">
                <a routerLink="product">
                    <span class="links_name">product</span>
                </a>
            </li>
            <li routerLinkActive="active2">
                <a routerLink="about">
                    <span class="links_name">About</span>
                </a>
            </li>

        </ul>
    </li>

</ul>